<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playground</title>
    <style>
        .asd{
            display: flex;
        justify-content: start;
        align-content: center;
        flex-wrap: wrap;

        }
        .ss{
        width: 200px;
        height:200px;
        
        border: 2px solid black;
        margin: 10px;

        }
        h1{
            align-content: center;
        }
    </style>
</head>
<body>
    <div class="asd">
    <h1>welcome</h1>
</div>
    <div class="asd">
    
    
    {% for x in range (0,   number)%}
        <div class="ss" style="background-color: {{color}}"></div>
    {%endfor%}
    </div>



</body>
</html>