<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>date</title>
</head>
<body>
    <div class="container">
        <h3>This is a counter</h3>
        <h1>{{ request.session.count }}</h1>
        <a href="/destroy_session"><button type="button" class="btn btn-danger">Reset</button></a>
        <a href="/views"><button type="button" class="btn btn-success" >+2 Views</button></a>
    </div>
    
</body>
</html>